:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type='text'] {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 8px;
  outline: none;
  margin-right: 8px;
}

input[type='text']:hover {
  border: 1px solid #000000;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #4e75ff;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #6c8cff;
}

.loader {
  display: none;
  text-align: center;
  margin-bottom: 20px;
}

.gallery {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.gallery li {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.gallery li:hover {
  transform: scale(1.05);
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.info {
  padding: 10px;
  text-align: center;
}

.info .labels,
.info .values {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  margin: 0;
}

.info .values {
  font-weight: normal;
}

.load-more {
  display: none;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #4e75ff;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.load-more:hover {
  background-color: #6c8cff;
}
